<%= quick_options(calendar_quick_options) %>


<%= week_calendar :events => @events, :thead => '', :table => {:id => 'calendar_week_table'} do |date, events| %>
    <%#= content_tag :div, :id => "week_calendar_#{date.strftime('%A')}", :class => 'week_calendar_content' do %>
    <%= content_tag :div, :class => 'week_calendar_content content_block' do %>

    <%= content_tag :h4, :class => 'day_name' do %>
        <%= "#{date.strftime('%A')} #{date.day}"  %>
        <%# unless local_assigns[:hide_collapse_controls] %>
          <%#= week_collapse_control date %>
          <%#= week_collapse_control date, 'close' %>
        <%# end %>
      <% end %>

      <%= calendar_day_time_slots(calendar_start_time, calendar_end_time, calendar_increment_in_minutes) %>

      <ul class="calendar_week_events">
        <% events.each do |event| %>
            <% if event.event_type == 'class' %>

              <li>
                <span class='event_times'>
                  <%= "#{event.starts_at.strftime('%l:%M%P')} - #{event.ends_at.strftime('%l:%M%P')}" %>
                </span>
                <span><strong>
                  <%= link_to event.name, event_path(event) %>
                </strong></span>

                <% if u = event.user %>
                  <span class="instructor_name">
                    with <%= "#{u.first_name} #{u.last_name}" %>
                  </span>
                <% end %>
              </li>
            <% end %>
          <!-- spans to be added to calendar day -->
          <%= content_tag :div, :class => 'calendar_day_event',
                          'data-starts' => round_and_format(event.starts_at),
                          'data-ends' => round_and_format(event.ends_at) do %>
              <%# if event.event_type == 'class' %>
                  <!--<div class="col-sm-2">-->
                    <%= link_to "<strong>#{event.name}</strong>".html_safe,
                              event_path(event) %>
                  <!--</div>-->
                  <!--<div class="col-sm-6">-->
                    <!--<%= truncate(event.description.to_s, :length => 50) %>-->
                  <!--</div>-->

                  <!--<div class="col-sm-4">-->
                    <%= "#{event.starts_at.strftime('%l:%M%P')} - #{event.ends_at.strftime('%l:%M%P')}" %>
                  <!--</div>-->
              <%# end %>
          <% end %>

        <% end %>
      </ul>

    <% end %>
<% end %>

<div class="row">

  <div class="col-md-7">
    <div id="calendar_week">
      <% number_of_days_on_week_calendar.times do %>
        <div class="row day_row">
          <!-- the elements that will actually be visible will end up here -->
        </div>
      <% end %>

    </div>
  </div>

  <div class="col-md-5">
    <div id="calendar_day">

    </div>
  </div>

</div>

<script>
    setUpWeekCalendar();
</script>