
<div id="features_bar" class="row">
  <div class="col-xs-1"></div><!--col-->


  <div class="col-xs-2 text-center">
    <%= link_to events_path do %>
      <%= image_tag 'icons/fitness/calendar_icon.png' %>
      <div class="icon_label">Classes</div>
    <% end %>
  </div><!-- col -->


  <div class="col-xs-2 text-center">
    <%= link_to membership_path do %>
      <%= image_tag 'icons/fitness/membership_icon.png' %>
      <div class="icon_label">Membership</div>
    <% end %>
  </div><!-- col -->

  <div class="col-xs-2 text-center">
    <%= link_to events_path do %>
      <%= image_tag 'icons/fitness/personal_training_icon.png' %>
      <div class="icon_label">Personal&nbsp;Training</div>
    <% end %>
  </div><!-- col -->


  <div class="col-xs-2 text-center">
    <%= link_to events_path do %>
      <%= image_tag 'icons/fitness/nutrition_icon.png' %>
      <div class="icon_label">Nutrition</div>
    <% end %>
  </div><!-- col -->

  <div class="col-xs-2 text-center">
    <%= link_to events_path do %>
      <%= image_tag 'icons/fitness/massage_icon.png' %>
      <div class="icon_label">Massage</div>
    <% end %>
  </div><!-- col -->

  <div class="col-xs-1"></div><!--col-->
</div><!-- row -->

<script>
//  setupFeaturesBar();

  imageChangeOnLinkHover('#features_bar a');
</script>

