
<div id="features_bar" class="row">
  <!--<div class="col-xs-1"></div>&lt;!&ndash;col&ndash;&gt;-->


  <div class="col-sm-3">
    <%= image_tag 'backgrounds/gym_still_2.jpg' %>
  </div>


  <div class="col-sm-3">
    <%= image_tag 'backgrounds/gym_still_2.jpg' %>
  </div>


  <div class="col-sm-3">
    <%= image_tag 'backgrounds/gym_still_2.jpg' %>
  </div>


  <div class="col-sm-3">
    <%= image_tag 'backgrounds/gym_still_2.jpg' %>
  </div>

  <!--<div class="col-xs-2 text-center">-->
    <!--&lt;!&ndash;<%= link_to events_path do %>&ndash;&gt;-->
      <!--&lt;!&ndash;<%= image_tag 'icons/fitness/calendar_icon.png' %>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="icon_label">Classes</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<% end %>&ndash;&gt;-->
  <!--</div>&lt;!&ndash; col &ndash;&gt;-->


  <!--<div class="col-xs-2 text-center">-->
    <!--<%= link_to membership_path do %>-->
      <!--<%= image_tag 'icons/fitness/membership_icon.png' %>-->
      <!--<div class="icon_label">Membership</div>-->
    <!--<% end %>-->
  <!--</div>&lt;!&ndash; col &ndash;&gt;-->

  <!--<div class="col-xs-2 text-center">-->
    <!--<%= link_to events_path do %>-->
      <!--<%= image_tag 'icons/fitness/personal_training_icon.png' %>-->
      <!--<div class="icon_label">Personal&nbsp;Training</div>-->
    <!--<% end %>-->
  <!--</div>&lt;!&ndash; col &ndash;&gt;-->


  <!--<div class="col-xs-2 text-center">-->
    <!--<%= link_to events_path do %>-->
      <!--<%= image_tag 'icons/fitness/nutrition_icon.png' %>-->
      <!--<div class="icon_label">Nutrition</div>-->
    <!--<% end %>-->
  <!--</div>&lt;!&ndash; col &ndash;&gt;-->

  <!--<div class="col-xs-2 text-center">-->
    <!--<%= link_to events_path do %>-->
      <!--<%= image_tag 'icons/fitness/massage_icon.png' %>-->
      <!--<div class="icon_label">Massage</div>-->
    <!--<% end %>-->
  <!--</div>&lt;!&ndash; col &ndash;&gt;-->

  <!--<div class="col-xs-1"></div>&lt;!&ndash;col&ndash;&gt;-->
</div><!-- row -->

<script>
//  setupFeaturesBar();

  imageChangeOnLinkHover('#features_bar a');
</script>

