<div id="features_bar">
  <div class="container">
    <div class="row">
      <!--<div class="col-md-3"></div>&lt;!&ndash; col &ndash;&gt;-->


      <div class="col-md-3 feature_col text-center">
        <%= link_to membership_path, class: 'feature_link' do %>
          <h3>membership</h3>
          <%#= image_tag 'icons/features/fitness.png' %>
          <%= image_tag 'icons/features/fitness2.png' %>


          <h4>Become a Member
            <small>
              don't be a buster. Members get 10 times the awesomness. Recognize.

            </small>
          </h4>
        <% end %>
        <!--<div class="baseline visible-sm-block"></div>-->
      </div><!-- col -->


      <div class="col-md-3 feature_col center_col text-center">
        <%= link_to nutrition_path, class: 'feature_link' do %>
          <h3>fitness</h3>

          <%= image_tag 'icons/features/nutrition.png' %>
          <%#= image_tag 'icons/features/nutrition2.png' %>
          <h4>Something about Nutrition
            <small>
              eating is a thing we can help you with. Don't be a buster. Sign up to get your snack on.
            </small>
          </h4>
        <% end %>
      </div><!-- col -->


      <div class="col-md-3 feature_col center_col text-center">
        <%= link_to massage_path, class: 'feature_link' do %>
          <h3>nutrition</h3>
          <%#= image_tag 'icons/features/fitness.png' %>

          <%= image_tag 'icons/features/fitness.png' %>
          <h4>Become a Member
            <small>
              don't be a buster. Members get 10 times the awesomness. Recognize.
            </small>
          </h4>
        <% end %>
      </div><!-- col -->


      <div class="col-md-3 feature_col text-center">
        <%= link_to massage_path, class: 'feature_link' do %>
          <h3>training</h3>
          <%#= image_tag 'icons/features/fitness.png' %>

          <%= image_tag 'icons/features/fitness.png' %>
          <h4>Become a Member
            <small>
              don't be a buster. Members get 10 times the awesomness. Recognize.
            </small>
          </h4>
        <% end %>
      </div><!-- col -->
      <!--<div class="col-md-3"></div>&lt;!&ndash; col &ndash;&gt;-->
    </div><!-- row -->
  </div>
</div>