<% @a = gym.address %>

<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 footer_col"></div>

      <div class="col-sm-4 footer_col footer_center_col text-center">
        <h4><%= gym.name %></h4>
        <strong><%= link_to gym.phone, "tel:#{gym.phone}" %></strong><br>
        <strong><%= mail_to gym.email %></strong>
        <address>
          <%= link_to "http://maps.google.com/?q=#{@a.to_s}", :target => "_blank" do %>
            <%= @a.street %><br>
            <%= "#{@a.street2} <br>".html_safe if @a.street2 %>
            <%= "#{@a.street3} <br>".html_safe if @a.street3 %>
            <%= "#{@a.city}, #{@a.state} #{@a.zip}" %>
          <% end %>
        </address>

        <%= social_networking_row() %>



      </div>

      <div class="col-sm-4 footer_col"></div>
    </div>
  </div>
</div>

<style>

</style>

<script>


  $(document).ready(function(){
    imageChangeOnLinkHover('.social_icon');

    $('#page_content').css('min-height', $(window).height() - 335);
  })
</script>