<div id="home_banner">
  <div class="intro_banner">
    <!--<div class="container">-->
      <!--<div class="row">-->
        <!--<div class="col-sm-12">-->

          <h1>
            <%= gym.name %>
            <small>
              fitness and fun for the whole family
            </small>
          </h1>


        <!--</div>&lt;!&ndash; col &ndash;&gt;-->
      <!--</div>&lt;!&ndash; row &ndash;&gt;-->
    <!--</div>&lt;!&ndash; cont &ndash;&gt;-->


  </div>

  <%= image_tag 'backgrounds/gym_still_2.jpg', class: 'intro_banner_backdrop' %>



  <!--<%= image_tag 'backgrounds/gym_still_2.jpg', class: 'banner_image' %>-->
  <!--<%= image_tag 'backgrounds/gym_still_2.jpg', class: 'banner_image' %>-->
  <!--<%= image_tag 'backgrounds/gym_still_2.jpg', class: 'banner_image' %>-->
  <!--<%= image_tag 'backgrounds/gym_still_2.jpg', class: 'banner_image' %>-->
  <!--<%= image_tag 'backgrounds/gym_still_2.jpg', class: 'banner_image' %>-->


</div>
<%#= render :partial => 'parts/features_bar' %>

<script>
  $('.intro_banner').hide().fadeIn(5000);
</script>
<!--<div class="home_banner">-->
  <!--<div class="banner_text">-->
    <!--<h4>Membership <small>Members enjoy 7 day access and can take all the classes they like.</small></h4>-->
  <!--</div>-->
<!--</div>-->
<!--<div class="home_banner">-->
  <!--<%= image_tag 'backgrounds/gym_still_2.jpg', class: 'banner_image' %>-->
  <!--<div class="banner_text">-->
    <!--<h4>Massage <small>Members enjoy 7 day access and can take all the classes they like.</small></h4>-->
  <!--</div>-->
<!--</div>-->