<style>
    body{
        padding-top: 50px;
    }
</style>

<div id='top_nav' class='navbar navbar-fixed-top navbar-default navbar-inverse' role='navigation'>
  <div class="container">
    <div class='navbar-header'>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top_nav_body">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%#= link_to "Kevin's Gym", root_path, :class => 'navbar-brand' %>
      <%= link_to root_path, :class => 'no_decoration' do %>
        <%= image_tag 'logos/sequim_gym_small_yellow.png', :style => 'height:50px;' %>
      <% end %>
    </div>

    <div id='top_nav_body' class='collapse navbar-collapse'>
      <ul class='nav navbar-nav navbar-right'>
        <!--<li class="social_networking_button follow_on_facebook">-->
          <!--<a href="#">-->
          <%#= follow_on_twitter_button(SOCIAL_NETWORKING[:twitter][:fanpage], :include_script => true) %>
          <!--</a>-->
        <!--</li>-->

        <!--<li>-->
          <!--<div class="social_network_follow_button">-->
            <!--<%#= follow_on_facebook_button(SOCIAL_NETWORKING[:facebook][:fanpage], :layout => 'button_count') %>-->

          <!--</div>-->
          <!--<div class="social_network_follow_button">-->
            <!--<%#= follow_on_twitter_button(SOCIAL_NETWORKING[:twitter][:fanpage], :include_script => true) %>-->

          <!--</div>-->


        <!--</li>-->


        <li>
          <%= link_to 'Staff', users_path %>
        </li>
        <li>
          <%= link_to 'Membership', '#' %>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Classes <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'All Classes', events_path %></li>
              <li class="divider"></li>
              <li class="dropdown-header">Classes by</li>
              <% User.instructors.each do |i| %>
                <li><%= link_to i.name, user_events_path(i) %></li>
              <% end %>
            </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Personal Training', personal_training_path %></li>
              <li><%= link_to 'Nutrition', nutrition_path %></li>
              <li><%= link_to 'Massage', massage_path %></li>
            </ul>
        </li>

        <!--<%#= security_gate('top_nav', 'tools_menu') do %>-->
            <!--<li class="dropdown">-->
              <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Tools <b class="caret"></b></a>-->
              <!--<ul class="dropdown-menu">-->
                <!--<li><%#= link_to 'Classes', events_path(:calendar_scope => 'classes', :calendar_view => 'list') %></li>-->
                <!--&lt;!&ndash;<li><%#= link_to 'Users', users_path %></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li><%#= link_to 'New News Story', new_news_story_path %></li>&ndash;&gt;-->
              <!--</ul>-->
            <!--</li>-->
        <!--<%# end %>-->


          <%# if user_signed_in? %>
            <!--<li>-->
              <!--<%#= link_to 'Account', edit_user_registration_path(current_user) %>-->
            <!--</li>-->
            <!--<li>-->
              <%#= link_to('Logout', destroy_user_session_path, :method => :delete) %>
            <!--</li>-->
      <%# else %>
            <!--<li>-->
              <%#= link_to 'Login', new_user_session_path %>
            <!--</li>-->
            <!--<li style="font-weight:800;">-->
               <!--<%#= link_to 'Sign Up', new_user_registration_path %>-->
            <!--</li>-->
          <!--<%# end %>-->
        <!--</li>-->
      </ul>
    </div>
  </div>
</div>