
<%= form_for(@news_story) do |f| %>
  <%= error_explanation(@news_story) %>

  <div class="row">
    <div class="col-sm-12">

      <div class="form-group">
        <%= f.label :title, :class => 'control-label' %>
        <%= f.text_field :title, :class => 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :content, :class => 'control-label' %>
        <%= f.bootsy_area :content, :class => 'form-control' %>
      </div>

      <div class="form-group">
        <%= security_gate('>= admin') do %>
          <%= f.label :author_id, :class => 'control-label'  %>
          <%= f.select :author_id, for_select(User.affiliated, :full_name, :id, current_user.id),
                       {}, :class => 'form-control'%>
          <% end %>

        <%= security_gate('== staff') do %>
          <%= f.hidden_field :author_id, :value => current_user.id.to_s %>
        <% end %>
      </div>

    </div><!-- col -->
  </div><!-- row -->

  <div class="form-group pull-right">
    <% unless @news_story.new_record? %>
      <%= f.submit 'Archive', :class => 'btn btn-warning', :data => {:confirm => 'Archived News Stories will not appear on site. Are you sure?'} %>
    <% end %>
    <%= f.submit 'Save Draft', :class => 'btn btn-default' %>
    <%= f.submit 'Publish', :class => 'btn btn-primary' %>
  </div>
<% end %>

<style>
  textarea.bootsy_text_area{
    height: 400px;
  }
</style>
