
<%= form_for(@news_story, :multipart => true) do |f| %>
  <%= error_explanation(@news_story) %>

  <div id="news_story_form">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <span class="form-control-static">
          Status: <strong><%= @news_story.publication_status.titlecase %></strong>
          </span>
        </div>
        <div class="form-group">
          <%= f.label :title, :class => 'control-label' %>
          <%= f.text_field :title, :class => 'form-control' %>
        </div>
      </div><!-- col -->

      <!--<div class="col-md-6"></div>&lt;!&ndash; col &ndash;&gt;-->
    </div><!-- row -->

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= f.label :content, :class => 'control-label' %>
          <%= f.bootsy_area :content, :class => 'form-control' %>
        </div>
      </div><!-- col -->
    </div><!-- row -->

    <div class="row well">
      <%= image_select f, @news_story, :main_image %>
    </div><!-- row -->



    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= security_gate('news_story', 'edit_author_of_news_story') do %>
            <%= f.label :author_id, :class => 'control-label'  %>
            <% selected = @news_story.new_record? ? current_user.id : @news_story.author_id %>
            <%= f.select :author_id, for_select(User.affiliated, :full_name, :id, selected), {}, :class => 'form-control'%>
          <% end %>
        </div>
      </div><!-- col -->
    </div><!-- row -->

    <div class="row form_button_row">
      <div class="col-xs-12">
        <%= button_row(@news_story, f) %>

      </div><!-- col -->
    </div><!-- row -->
  <% end %>
</div>
