<div id="news_stories" class="col-md-9">


    <%= security_gate 'quick_options', 'view' do %>


    <div>
      <%= quick_options ["New Story", new_news_story_path] %>
      <div class="clearfix"></div>
    </div>
    <% end %>

  <%= render :partial => 'parts/social_networking_bar' if do_social_networking? %>



  <!--<div id="news_stories_header">-->
    <!--<%= image_tag 'logos/sequim_gym_logo_brown.png' %>-->
  <!--</div>-->

  <div class="news_list">
    <% @news_stories.each do |story| %>
      <%= security_gate('news_story', 'index_edit_story') do %>
        <%= quick_options ['Edit', edit_news_story_path(story)] %>
      <% end %>
      <div class="news_story">
        <h3>
          <%= link_to story.title, news_story_path(story) %>
          <%= image_tag(story.main_news_story_image.url(:thumb), :class => "story_image pull-#{cycle('right', 'left')}") if story.main_news_story_image? %>
        </h3>

        <p>
          <%= story.content[0..200].html_safe %>
        </p>
        <div class="clearfix"></div>
      </div><!-- news_story -->



  <% end %>

    <!--<div class="more_stories">-->
      <!--<%#= link_to 'More News Stories... ', more_news_stories_path, :remote => true %>-->
    <!--</div>-->
  </div>
</div><!-- col -->
