<% head_info(@news_story.title, facebook_description(@news_story.content.to_s), image_path(@news_story.main_news_story_image.url(:large).to_s),
             'article', 'anysoft.us', news_story_url(@news_story)) %>

<div class="container">
  <%= security_gate 'news_story', 'show_quick_menu', @news_story do %>
    <%= quick_options(['Edit', edit_news_story_path(@news_story)],['List', news_stories_path]) %>
  <% end %>

  <div id="news_story">
    <div class="row">
      <div class="col-12">
        <%= social_networking_likes(@news_story.content.to_s) %>
        <h1>
          <%= @news_story.title %>
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">

          <!--<div class="story_author">-->
            <!--by <strong><%#= link_to @news_story.author.name, user_path(@news_story.author) %></strong>-->
          <!--</div>-->


          <div class="story_content content_block">
            <%= @news_story.content.to_s.html_safe %>
          </div>


      </div><!-- col -->

      <div class="col-md-5">
        <%#= user_bio(@news_story.author) %>
        <%= image_tag(@news_story.main_news_story_image.url(:large), :class => 'main_news_story_image') if @news_story.main_news_story_image? %>
      </div><!-- col -->
    </div><!-- row -->
  </div><!-- news_story -->

  <%= facebook_comments_row %>
</div><!-- container -->