<% content_for(:facebook_meta){ facebook_meta_tags(@news_story.title, @news_story.main_image.url(:large).to_s, @news_story.content, gym.name) } %>


<div class="container">
  <%= security_gate 'news_story', 'show_quick_menu', @news_story do %>
    <%= quick_options([['Edit', edit_news_story_path(@news_story)],['List', news_stories_path]]) %>
  <% end %>

  <div id="news_story">
    <div class="row">
      <div class="col-12">
        <div class="page_title story_title">
          <%= @news_story.title %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">

          <div class="story_author">
            by <strong><%= link_to @news_story.author.name, user_path(@news_story.author) %></strong>
          </div>


          <div class="story_content content_block">
            <%= @news_story.content.to_s.html_safe %>
          </div>


      </div><!-- col -->

      <div class="col-md-5">
        <%#= user_bio(@news_story.author) %>
        <%= image_tag(@news_story.main_image.url(:large), :class => 'main_image') if @news_story.main_image? %>
      </div><!-- col -->
    </div><!-- row -->
  </div><!-- news_story -->

  <div class="row">
    <div class="col-sm-12">
      <div class="facebook_comments text-center">
        <%= facebook_comments(request.url, :width => 550) %>
      </div>
    </div>
  </div>
</div><!-- container -->