<div class="container">
  <%= security_gate('quick_options', 'view') do %>
    <%= quick_options(['Create User', new_user_path]) %>
  <% end %>

  <div class="row">
    <div class="col-sm-12">
      <div class="page_title">Our Team</div>
    </div><!-- col -->
  </div><!-- row -->

  <!--<div id="users">-->
    <% @users.each do |user| %>
      <div class="row user_row">
        <div class="col-sm-4">
          <div class="page_subtitle">
            <%= link_to user.name, user %>
          </div>

          <div class="record_descripton">
            <%= user.bio.to_s %>
          </div>
        </div><!-- col -->

        <div class="col-sm-4">

          <%= skills_list(user) %>
          <%#= user.bio.to_s %>

        </div><!-- col -->

        <div class="col-sm-4">
          <%= image_tag(user.avatar.url(:show_circle), :class => 'pull-righdt avatar', :style => 'padding-right: 10px;') if user.avatar? %>
        </div><!-- col -->

      </div><!-- row -->

    <% end %>
  <!--</div>&lt;!&ndash; users &ndash;&gt;-->
</div>





<div class="row user_row">
  <!--<div class="col-md-4">-->
  <!--<div class="page_subtitle">-->
  <!--<%#= link_to user.name, user_path(user) %>-->
  <!--</div>-->

  <!--<div class="record_description">-->
  <!--<%#= user.bio.to_s %>-->
  <!--</div>-->
  <!--</div>&lt;!&ndash; col &ndash;&gt;-->

  <div class="col-md-4">
    <%#= skills_list(user) %>
  </div>

  <!--<div class="col-md-4">-->
  <!--<%#= image_tag(user.avatar.url(:show_circle), :class => 'apull-right avatar', :style => 'padding-right: 10px;') if user.avatar? %>-->
  <!--</div>-->
</div><!-- row -->

