<!DOCTYPE html>
<html>
<head>
  <%= render :partial => 'parts/head' %>
</head>

<body>
<%= facebook_sdk(gym.contact_info.social_networking_profile.facebook_app_id) %>


<%= render :partial => 'parts/top_nav' %>
<%#= render :partial => 'parts/social_networking_bar' %>
<%= render :partial => 'parts/the_flash' %>

<%#= render :partial => 'parts/features_bar' %>

<div id="page_content">
  <%= yield %>
</div>

<%= render :partial => 'parts/footer' %>

</body>
</html>
