<!DOCTYPE html>
<html>
<head>
  <title><%= gym.name %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <%= content_for :facebook_meta %>

  <%= favicon_link_tag "favicon.ico" %>

  <%= facebook_sdk(SOCIAL_NETWORKING[:facebook][:id], :turbolinks => true) %>
</head>

<body>

<%= render :partial => 'parts/top_nav' %>
<%= render :partial => 'parts/social_networking_bar' %>
<%= render :partial => 'parts/the_flash' %>

<div id="page_content">
  <%= yield %>
</div>

<%= render :partial => 'parts/footer' %>

</body>
</html>
